@import 'fonts/yukarimobile_regular_macroman/stylesheet.css';
$mdi-font-path: '~mdi/fonts/';
@import '~mdi/scss/materialdesignicons';
$page-background: #4d4d4d;
$nav-background: linear-gradient(rgba(20%, 20%, 20%, 0.8), rgba(10.2%, 10.2%, 10.2%, 0.8)),
url('../images/noise-tile.png');
$jumbotron-img: url('../images/Jumbotron.png');
@mixin CarbonFibre {
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}

@mixin ContentBox {
    display: flex;
    // @include CarbonFibre;
    position: relative;
    margin: 0;
    border: 0;
    outline: 0;
    padding: 20px;
    border-top: 1px solid gray;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
}

$SideBarWidth: '400px';
//
.lg-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    background-color: #282828;
}

.lg-navbar {
    nav {
        background: $nav-background;
        height: 80px;
        margin: 0;
        border: 0;
        padding: 0 20px 0 20px;
        border-bottom: 1px solid #d39900;
        border-radius: 0;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .65);
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .lg-title {
            font-family: 'yukarimobileregular', Arial, sans-serif;
            font-size: 18pt;
            color: white;
            transition: all .2s ease-in-out;
            &:hover {
                color: white;
                text-shadow: 0px 0px 10px rgba(255, 183, 0, 1);
                text-decoration: none;
            }
        }
        .navbar-nav {
            height: 100%;
            padding: 0 20px 0 20px;
            li {
                min-width: 120px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                transform: skewX(-15deg);
                a {
                    position: relative;
                    text-align: center;
                    line-height: 3.5;
                    z-index: 0;
                    color: rgba(255, 255, 255, .75);
                    font-weight: bold;
                    height: 100%;
                    min-width: 120px;
                    width: 100%;
                    &:focus {
                        background: none;
                    }
                    &:after {
                        content: '';
                        background: linear-gradient(rgba(100%, 96.5%, 83.5%, .5), rgba(100%, 96.5%, 83.5%, 0.1) 50%, transparent 50%), linear-gradient( #ffb900, #ad7d00);
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        z-index: -1;
                        opacity: 0;
                        transition: opacity .3s ease-in;
                    }
                    &:hover {
                        color: white;
                        box-shadow: inset 0px 80px rgba(255, 185, 0, 0.2);
                        background: none;
                    }
                    &.active {
                        color: white;
                        background: none;
                        border: 0;
                        outline: 0;
                        &:hover,
                        &:focus,
                        &:active {
                            background: none;
                            border: 0;
                            outline: 0;
                        }
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .lg-social-icons {
            list-style: none;
            justify-self: flex-end;
            li {
                float: left;
                a {
                    background: none;
                    display: block;
                    padding: 4px;
                    color: rgba(255, 255, 255, .75);
                    text-decoration: none;
                    transition: all .3s ease-in-out;
                    &:hover {
                        color: white;
                        text-shadow: 0 3px 3px rgba(0, 0, 0, .5);
                    }
                }
            }
        }
    }
    z-index: 10;
}

.lg-jumbotron {
    width: 100%;
    height: 600px;
    position: relative;
    margin: 0;
    z-index: 0;
    .lg-jumbotron-pause {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        outline: 0;
        border: 0;
        color: rgba(255, 255, 255, .5);
        background-color: rgba(0, 0, 0, .5);
        transition: all .3s ease-in-out;
        &:hover {
            color: white;
            background-color: rgba(0, 0, 0, .85);
        }
    }
    .lg-jumbotron-content {
        position: relative;
        top: 80px;
        padding: 20px;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .lg-jumbotron-bg {
        position: absolute;
        top: -80px;
        left: 0px;
        // filter: blur(1px);
        width: 100%;
        height: 600px;
        background-image: $jumbotron-img;
        background-repeat: repeat-x;
        background-size: 2401px 600px;
        z-index: 0;
        animation: jumbotronScroll 60s linear infinite;
    }
}

@keyframes jumbotronScroll {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 2401px;
    }
}

.lg-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .lg-body {
        width: calc(100% - 400px);
        @include ContentBox();
    }
    .lg-newsfeed {
        color: white;
    }
    .lg-sidebar {
        width: $SideBarWidth;
        @include ContentBox();
        margin-left: 0;
        .lg-worldClock {
            color: white;
        }
    }
}